body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block; 
    width: 100%; 
    margin-bottom: 5px; 
}

.form-group input[type="number"],
.form-group select {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #910893;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #8a0893;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #efe9ef;
    border-radius: 5px;
}

.discount-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #edd4ec;
    border-radius: 5px;
    color: #57154d;
}